body {
    background-color:#a163a1;
    text-align: center;
}
h1 {
    color:#ececdc;
    display: inline-block;
    font-family: Splat,'Times New Roman', Times, serif;
}
h3 {
    color:#87fcfc;
    font-family: Splat,'Times New Roman', Times, serif;
}
@font-face {
    font-family: "Splat";
    src: url(Splatink.otf);
}
.textNextToImage{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color:#67bdbd;
    display:inline-block;
}
.caption {
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
    color:#9bc2c4;
}
img {
    display:inline-block;
}